{% extends "base.html" %} {% block content %} {% load static %}{% load i18n %}

<div class="bg-blue-500">
    <nav class="relative px-4 py-4 flex justify-between items-center bg-white text-[#051923]">
        <a class="text-3xl font-bold leading-none" href="{% url 'home' %}">
            <img src="{% static 'img/leaf.png' %}" class="h-10">

        </a>
        <div class="lg:hidden">
            <button class="navbar-burger flex items-center text-[#1b4965]-600 p-3">
                <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Mobile menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
        </div>
        <ul
            class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">

            <li>
                <a href="{% url 'pricing' %}"
                    class="text-[#051923] text-lg flex items-center py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                    <img src="{% static 'img/resource.png' %}" class="w-[18px] h-[18px] mr-4">

                    <span>{% blocktrans %}Pricing{% endblocktrans %}</span>
                </a>
            </li>

            <li class="text-black">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li>
                <a href="https://www.reddit.com/r/Verdeia/"
                    class="text-[#051923] text-lg flex items-center py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                    <img src="{% static 'img/community.png' %}" class="w-[18px] h-[18px] mr-4 ">

                    <span>{% blocktrans %}Community{% endblocktrans %}</span>
                </a>
            </li>
            </svg>
            </li>
            <li class="text-black">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li>
                <a href="{% url 'blog' %}"
                    class="text-blue-400 text-lg flex items-center py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                    <img src="{% static 'img/blog.png' %}" class="w-[18px] h-[18px] mr-4">

                    <span>Blog</span>
                </a>
            </li>
            <li class="text-black">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li>
                <a href="{% url 'faq' %}"
                    class="text-[#051923] text-lg flex items-center py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                    <img src="{% static 'img/faq.png' %}" class="w-[18px] h-[18px] mr-4">

                    <span>FAQ</span>
                </a>
            </li>
        </ul>
        <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-black-50 hover:bg-black-100 text-lg text-black-900 font-bold rounded-xl transition duration-200"
            href="{% url 'login' %}">{% blocktrans %}Log In{% endblocktrans %}</a>
        <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-lg text-black font-bold rounded-xl transition duration-200"
            href="{% url 'gettingstarted' %}">{% blocktrans %}Get Started{% endblocktrans %}</a>
    </nav>
    <div class="navbar-menu relative z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 bg-black-800 opacity-25"></div>
        <nav
            class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-8">
                <a class="mr-auto text-3xl font-bold leading-none" href="{% url 'home' %}">
                    <img src="{% static 'img/leaf.png' %}" class="h-12">

                </a>
                <button class="navbar-close">
                    <svg class="h-6 w-6 text-black-400 cursor-pointer hover:text-black-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="{% url 'pricing' %}"
                            class="text-[#051923] text-lg flex items-center px-4 py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                            <img src="{% static 'img/resource.png' %}" class="w-[18px] h-[18px] mr-4">

                            <span>{% blocktrans %}Pricing{% endblocktrans %}</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.reddit.com/r/Verdeia/"
                            class="text-[#051923] text-lg flex items-center px-4 py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                            <img src="{% static 'img/community.png' %}" class="w-[18px] h-[18px] mr-4">

                            <span>{% blocktrans %}Community{% endblocktrans %}</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'blog' %}"
                            class="text-blue-400 text-lg flex items-center px-4 py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                            <img src="{% static 'img/blog.png' %}" class="w-[18px] h-[18px] mr-4">

                            <span>Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}"
                            class="text-[#051923] text-lg flex items-center px-4 py-3 transition-all font-semibold transition-all font-semibold transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300 hover:text-blue-500">
                            <img src="{% static 'img/faq.png' %}" class="w-[18px] h-[18px] mr-4">

                            <span>FAQ</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="mt-auto">
                <div class="pt-6">
                    <a class=" lg:inline-block lg:ml-auto lg:mr-3 mt-9 px-6 bg-black-50 hover:bg-black-100 text-lg text-black-900 font-bold rounded-xl transition duration-200 
            " href="{% url 'login' %}">{% blocktrans %}Log In{% endblocktrans %}</a>
                    <a class=" lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-lg text-white font-bold rounded-xl transition duration-200"
                        href="{% url 'gettingstarted' %}">{% blocktrans %}Get Started{% endblocktrans %}</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="text-center mt-12">
    <time class="text-gray-500 text-xl" datetime="2064-07-03">03{% blocktrans %} July{% endblocktrans %} 2064</time>

    <p class="font-black text-5xl mt-4 text-gray-900">{% blocktrans %}Why Corporate Social Responsibility (CSR)
        <br>Matters More Than Ever{% endblocktrans %}</p>
    <div class="my-12">
        <img src="{% static 'img/blogs/test.jpg' %}" class="size-4/5 mx-auto rounded-lg" />
    </div>
    <div class="max-w-3xl mx-auto text-gray-900 text-justify">
        <p class="text-2xl mb-9 font-semibold">{% blocktrans %}In an era marked by increasing awareness of social and
            environmental issues, Corporate Social Responsibility (CSR) has become more than just a buzzword—it's a
            fundamental business practice. Companies worldwide are recognizing that their responsibilities extend beyond
            profit generation to encompass broader societal impacts{% endblocktrans %}.</p>
        <p class="text-xl"><span class="text-7xl font-extrabold">{% blocktrans %}T</span>his shift in perspective is not only reshaping
            business operations but also redefining the expectations of stakeholders, including customers, employees,
            investors, and communities. Here's why CSR matters more than ever today.{% endblocktrans %}</p>
        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Evolving Consumer Expectations{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}Today's consumers are more informed and conscientious about the products and
                services they purchase. They prefer to support brands that align with their values, particularly those
                that demonstrate a commitment to ethical practices, sustainability, and social justice. According to
                recent studies, a significant percentage of consumers are willing to pay more for products from
                companies that have robust CSR policies. This growing trend means that businesses ignoring CSR risk
                alienating a substantial portion of their customer base.{% endblocktrans %}</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Attracting and Retaining Top Talent{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}Modern employees, especially millennials and Gen Z, are looking for more than just a
                paycheck. They seek meaningful work with companies that reflect their values and contribute positively
                to society. Companies with strong CSR initiatives not only attract top talent but also enhance employee
                satisfaction and retention. A motivated and engaged workforce is crucial for driving innovation and
                achieving long-term success.{% endblocktrans %}</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Enhancing Brand Reputation{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}A strong commitment to CSR can significantly enhance a company's reputation.
                Positive public perception can lead to increased brand loyalty, customer retention, and a competitive
                edge in the market. Conversely, companies that fail to address social and environmental concerns may
                face negative publicity, consumer boycotts, and loss of trust. In an age where information spreads
                rapidly, maintaining a positive brand image through CSR is essential{% endblocktrans %}.</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Financial Performance and Sustainability{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}Contrary to the belief that CSR is an additional cost, many companies find that
                sustainable practices lead to significant financial benefits. Efficient resource use, waste reduction,
                and energy savings contribute to lower operational costs. Furthermore, companies with strong CSR records
                often enjoy better access to capital, as investors are increasingly considering environmental, social,
                and governance (ESG) criteria in their decision-making processes.{% endblocktrans %}</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Regulatory Compliance and Risk Management{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}Governments worldwide are implementing stricter regulations to address environmental
                and social issues. By adopting proactive CSR practices, companies can stay ahead of regulatory changes,
                avoid legal penalties, and influence policy development. Effective CSR strategies also help in
                identifying and mitigating risks related to environmental impact, labor practices, and corporate
                governance, thus safeguarding the company's long-term viability.{% endblocktrans %}</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}The Broader Impact of CSR{% endblocktrans %}</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Addressing Global Challenges{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}The world is facing critical challenges such as climate change, inequality, and
                resource depletion. Businesses have a pivotal role to play in addressing these issues. Through CSR,
                companies can contribute to solutions that promote sustainability, social equity, and economic
                development. Initiatives such as reducing carbon footprints, promoting fair trade, and supporting
                community projects can make a substantial difference{% endblocktrans %}.</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Fostering Innovation{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}CSR encourages companies to think creatively about solving social and environmental
                problems. This often leads to the development of innovative products, services, and business models that
                address these challenges while opening new market opportunities. For example, companies investing in
                renewable energy technologies not only reduce their environmental impact but also position themselves as
                leaders in a growing industry.{% endblocktrans %}</p>
        </div>

        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Strengthening Community Relationships{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}Companies that actively engage with and support their local communities build
                stronger relationships and trust. Community-focused CSR initiatives, such as educational programs,
                healthcare support, and local economic development projects, demonstrate a company's commitment to the
                well-being of its stakeholders. This goodwill can translate into a loyal customer base and a supportive
                business environment.{% endblocktrans %}</p>
        </div>



        <div>
            <p class="font-black text-2xl mt-6 text-gray-900">{% blocktrans %}Conclusion{% endblocktrans %}</p>
            <p class="text-xl mt-4">{% blocktrans %}Corporate Social Responsibility is no longer a peripheral consideration for
                businesses; it is a core component of modern business strategy. As stakeholders increasingly prioritize
                ethical, transparent, and sustainable practices, companies that embrace CSR will not only enhance their
                reputation and financial performance but also contribute to a more equitable and sustainable world. By
                integrating CSR into their operations, businesses can drive positive change and ensure long-term success
                in a rapidly evolving landscape.{% endblocktrans %}
            </p>
            <p class="text-xl mt-4">{% blocktrans %}In this new era, CSR matters more than ever. It's time for companies to step up,
                take responsibility, and make a meaningful impact on the world.{% endblocktrans %}</p>
        </div>

        <div class="flex flex-wrap items-center mt-6">
            <img src="{% static 'img/stonehashira.webp' %}" class="w-10 h-10 rounded-full" />
            <div class="ml-4 text-left">
                <p class="text-xl font-bold">{% blocktrans %}By{% endblocktrans %} Gaia Verdeia</p>
                <p class="text-lg text-gray-500">{% blocktrans %}Content Writer{% endblocktrans %}</p>
            </div>
        </div>
    </div>



    <div class="bg-gray-100 md:px-32 px-12 py-12 ">
        <p class="text-left font-bold text-4xl text-gray-800 mb-8">{% blocktrans %}Read More{% endblocktrans %}</p>
        <div class="max-md:max-w-lg mx-auto">

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-9">

                <div
                    class="bg-gradient-to-b from-indigo-800 to-indigo-600 text-white rounded-lg overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300">
                    <a href="{% url 'blog_1' %}"><img src="{% static 'img/blog_1.jpg' %}" alt="Blog Post 1"
                            class="w-full h-64 object-cover" />
                        <div class="p-6">
                            <h3 class="text-2xl font-semibold mb-2">{% blocktrans %}Understanding Your Carbon Footprint: A Beginner's
                                Guide{% endblocktrans %}</h3>
                            <p class="text-sm opacity-75">{% blocktrans %}Understanding Your Carbon Footprint: A Beginner's Guide{% endblocktrans %}...</p>
                            <a href="javascript:void(0);"
                                class="mt-4 inline-block text-blue-200 text-sm hover:underline">{% blocktrans %}Read More{% endblocktrans %}</a>
                        </div>
                    </a>
                </div>

                <div
                    class="bg-gradient-to-b from-purple-800 to-purple-600 text-white rounded-lg overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300">
                    <a href="{% url 'blog_2' %}"><img src="{% static 'img/blog_2.jpg' %}" alt="Blog Post 2"
                            class="w-full h-64 object-cover" />
                        <div class="p-6">
                            <h3 class="text-2xl font-semibold mb-2">{% blocktrans %}10 Simple Ways to Reduce Your Carbon Emissions at
                                Home{% endblocktrans %}</h3>
                            <p class="text-sm opacity-75">{% blocktrans %}10 Simple Ways to Reduce Your Carbon Emissions at Home{% endblocktrans %}...</p>
                            <a href="javascript:void(0);"
                                class="mt-4 inline-block text-pink-200 text-sm hover:underline">{% blocktrans %}Read More{% endblocktrans %}</a>
                        </div>
                    </a>
                </div>

                <div
                    class="bg-gradient-to-b from-teal-800 to-teal-600 text-white rounded-lg overflow-hidden shadow-lg transform hover:scale-105 transition-transform duration-300">
                    <a href="{% url 'blog_3' %}"><img src="{% static 'img/blog_3.jpg' %}" alt="Blog Post 3"
                            class="w-full h-64 object-cover" />
                        <div class="p-6">
                            <h3 class="text-2xl font-semibold mb-2">{% blocktrans %}The Importance of Carbon Offsetting: How It Works
                                and Why It Matters{% endblocktrans %}</h3>
                            <p class="text-sm opacity-75">{% blocktrans %}The Importance of Carbon Offsetting: How It Works and Why It
                                Matters{% endblocktrans %}...</p>
                            <a href="javascript:void(0);"
                                class="mt-4 inline-block text-green-200 text-sm hover:underline">{% blocktrans %}Read More{% endblocktrans %}</a>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>


<footer class="bg-[#1a1818] font-['Catamaran'] tracking-wide">
    <div class="py-14 px-6 sm:px-10">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
        <div class="lg:col-span-2">
          <a href="{% url 'home' %}"><img src="{% static 'img/leaf.png' %}" alt="logo" class="h-12 " /></a>
          <p class="text-gray-300 text-2xl font-black mb-8">
            Verdeia
          </p>
          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <div >
              <input name="next" type="hidden" value="{{ redirect_to }}">
          
              <select class = "border-2 border-blue-200 rounded-md w-[20%] text-center" name="language" onChange="form.submit();">
                
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                  
                      <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>              
                        {{ language.name_local }} 
                      </option>
                  {% endfor %}
              </select></div>
          
          </form>
          <p class="text-gray-300 text-sm mb-3">
            Made with ❤️ by <a href="https://www.github.com/spartachus" class="font-black text-xl">Spartachus</a>
          </p>
          <p class="text-gray-300 text-sm">
            {% blocktrans %}Empowering You to Track, Reduce, and Offset Carbon Emissions for a Greener Tomorrow.{%endblocktrans %}
          </p>
        </div>
  
        <div>
          <h4 class="text-lg font-bold mb-8 text-white">{% blocktrans %}Navigation{% endblocktrans %}</h4>
          <ul class="space-y-4">
            <li>
              <a href="https://science.nasa.gov/climate-change/adaptation-mitigation/resources/"
                class="text-gray-300 hover:text-white text-sm">{% blocktrans %}Resources{% endblocktrans %}</a>
            </li>
            <li>
              <a href="{% url 'contact' %}" class="text-gray-300 hover:text-white text-sm">Contact</a>
            </li>
            <li>
              <a href="{% url 'faq' %}" class="text-gray-300 hover:text-white text-sm">FAQ</a>
            </li>
            <li>
              <a href="{% url 'blog' %}" class="text-gray-300 hover:text-white text-sm">Blog</a>
            </li>
          </ul>
        </div>
  
        <div>
          <h4 class="text-lg font-bold mb-8 text-white">{% blocktrans %}Follow Us{% endblocktrans %}</h4>
  
          <ul class="flex gap-4">
            <li>
              <a href="https://www.instagram.com/verdeialabs/">
                <img src="{% static 'img/instagram.png' %}" class=" w-6 h-6">
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@VerdeiaLabs" class="text-gray-300 hover:text-white">
                <img src="{% static 'img/youtube.png' %}" class=" w-6 h-6"></a>
            </li>
            <li>
              <a href="https://www.reddit.com/Verdeia" class="text-gray-300 hover:text-white">
                <img src="{% static 'img/reddit-logo.png' %}" class=" w-6 h-6">
              </a>
            </li>
            <li>
              <a href="https://x.com/VerdeiaLabs" class="text-gray-300 hover:text-white">
                <img src = "{% static 'img/twitter.png' %}" width="20px" height="20px">
  </a>
            </li>
          </ul>
        </div>
  
        <div>
          <h4 class="text-white text-lg font-bold mb-7">Subscribe</h4>
          <p class="text-gray-300 mb-5">
            {% blocktrans %}Subscribe to our newsletter to receive updates and exclusive offers.{% endblocktrans %}
          </p>
          <form action="" class="space-y-8" method="post" novalidate>
            {% csrf_token %}
  
            <div class="flex">
              <input name="mail" id="mail" type="email"
                class="px-3 py-3 text-sm rounded-l-md w-full focus:outline-none bg-gray-50"
                placeholder="Enter your email address" />
              <button type="submit"
                class="bg-gray-600 hover:bg-gray-500 text-white px-1 rounded-r-md text-sm tracking-wide transition-all">
                {% blocktrans %} Subscribe{% endblocktrans %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}